<!DOCTYPE html>
<html>
    <p>Hello, world. You are a colonist on Mars.</p>

    {% if user.is_authenticated %}
    <p>You are logged in as <b>{{ user.username }}</b>. You may <a href="/logout/">log out</a>.</p>
    {% else %}
    <p>You are not logged in. You may <a href="/login/">log in</a>.</p>
    {% endif %}

    <p>What do the other colonists have?</p>

    <ul>
        {% for holding in holdings %}
        <li>{{ holding }}</li>
        {% endfor %}
    </ul>

    <p>What can you do with the items you have?</p>

    <form method="post" action="do_recipe">
        {% csrf_token %}
        <ul>
            {% for recipe in recipes %}
            <li>
                <button type="submit" name="recipe" value="{{ recipe.id }}">{{ recipe }}</button>
                <ul>
                    {% for item in recipe.items.all %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </form>
</html>